APP_PORT="8000"
APP_URL="http://localhost:8000"
APP_DIR="./build/api"
JWT_SECRET_KEY="your-jwt-secret-key-here"

DB_DRIVER="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD=""
DB_NAME="app_db"

# Migration Tools
GOOSE_DRIVER="postgres"
GOOSE_DBSTRING="postgres://postgres:password@localhost:5432/app_db"
GOOSE_MIGRATION_DIR="./db/migration"

# MAIL_HOST="smtp.gmail.com"
# MAIL_PORT=587
# MAIL_USERNAME="email@example.com"
# MAIL_PASSWORD="email app password"
# MAIL_FROM_ADDRESS="email@example.com"
# MAIL_FROM_NAME="App Name"

# REDIS_HOST="localhost:6379"
# REDIS_PASSWORD=""
# REDIS_DB=0

# MINIO_ROOT_USER="minioadmin"
# MINIO_ROOT_PASSWORD="minioadmin"
# MINIO_URL="localhost:9090"
# MINIO_USE_SSL=false
# MINIO_API_PORT="9090"
# MINIO_UI_PORT="9091"
